server:
  port: 8085

spring:
  application:
    name: interaction-service
  datasource:
    url: jdbc:postgresql://localhost:5432/realstream
    username: user
    password: password
    driver-class-name: org.postgresql.Driver
  data:
    redis:
      host: localhost
      port: 6379
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
